@import './components/navbar.css';
/*
  CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

/*
  Colors
*/
:root {
  --site-main-background: #fffaf0;
  --site-main-text: brown;
  --site-interactive: #000085;
}

/*
  Typography
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--site-main-text);
}

/*
  Main App Layout
*/
#root {
  display: grid;
  grid-template-columns: [viewport] 1fr [viewport];
  grid-template-rows: 75px 1fr 75px;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  background: var(--site-main-background);
}

#root > main {
  border: 1px solid olive;
}
#root > footer {
  border: 1px solid tomato;
}

/*
  Global Components
*/
.navbar {
  display: flex;
  align-items: center;
  padding: 12px;
}

.navbar__right {
  margin-left: auto;
}
