---
import Layout from '../../layouts/Layout.astro';
import Outline from '../../components/Outline.astro';
import Link from '../../components/Link.astro';
import { formatDateForHeader } from '../../helpers/dates';

const posts = await Astro.glob('./*.md');
const publishedPosts = posts.filter(post => (import.meta.env.MODE === 'development' || !post.frontmatter.draft));
console.log(Astro, import.meta.env);
---

<Layout title="blog">
	<div class="blog grid">
        <h1 class="blog__header"><Outline>Blog</Outline></h1>
        {!!publishedPosts.length && (
            publishedPosts.map((post) => {
                if (post.url) {
                    return (
                        <div class="blog__post">
                            <Link class="blog__postLink" to={post.url}>{post.frontmatter.title}</Link>
                            <p class="blog__postTimestamp">
                                <Outline>Written on</Outline>
                                <span class="blog__postTimestampValue">
                                    {formatDateForHeader(post.frontmatter.createdAt)}
                                </span>
                            </p>
                        </div>
                    )
                }
            })
        )}

        {!publishedPosts.length && (
            <p class="blog__placeholder">coming soon!</p>
        )}
    </div>
</Layout>
<style>
    .blog__header {
        grid-column: container;
        margin-block-end: 1.5rem;
    }

    .blog__placeholder {
        grid-column: container;
    }

    .blog__post {
        grid-column: container;   
    }

    .blog__post:not(:last-of-type) {
        margin-block-end: 1rem;  
    }

    .blog__postLink {
        font-size: var(--font-size-large);
    }

    .blog__postTimestamp {
        font-size: var(--font-size-small);
    }

    .blog__postTimestampValue {
        margin-inline-start: 0.2rem;
    }
</style>
