---
import Layout from '../../layouts/Layout.astro';
import Outline from '../../components/Outline.astro';
---

<Layout title="blog | mcgostisha.com">
	<div class="blog grid">
        <h1 class="grid-column-container"><Outline>Blog</Outline></h1>
        <p class="grid-column-container">coming soon!</p>
    </div>
</Layout>
