---
import Layout from '../../layouts/Layout.astro';
import Outline from '../../components/Outline.astro';
import Link from '../../components/Link.astro';
import { formatDateForHeader } from '../../helpers/dates';

let posts: any[] = [];
try {
    posts = await Astro.glob('./*.md*');
} catch (ex) {
    console.error(ex);
}
const publishedPosts = posts
    .filter(post => (import.meta.env.MODE === 'development' || !post.frontmatter.draft))
    .sort((a, b) => a.frontmatter.createdAt < b.frontmatter.createdAt ? 1 : (b.frontmatter.createdAt < a.frontmatter.createdAt ? -1 : 0));
---

<Layout
    title="blog"
    description="Marty's Blog"
    ogImage="/images/og-image-blog.png"
>
	<div class="blog grid">
        <h1 class="blog__header"><Outline>Blog</Outline></h1>
        {!!publishedPosts.length && (
            publishedPosts.map((post) => {
                if (post.url) {
                    return (
                        <div class="blog__post">
                            <Link class="blog__postLink" to={post.url}>{post.frontmatter.title}</Link>
                            <p class="blog__postTimestamp">
                                <Outline>Written on</Outline>
                                <span class="blog__postTimestampValue">
                                    {formatDateForHeader(post.frontmatter.createdAt)}
                                </span>
                            </p>
                        </div>
                    )
                }
            })
        )}

        {!publishedPosts.length && (
            <p class="blog__placeholder">coming soon!</p>
        )}
    </div>
</Layout>
<style>
    .blog__header {
        grid-column: prose;
        margin-block-end: 1.5rem;
    }

    .blog__placeholder {
        grid-column: prose;
    }

    .blog__post {
        grid-column: prose;   
    }

    .blog__post:not(:last-of-type) {
        margin-block-end: 1rem;  
    }

    .blog__postLink {
        font-size: var(--font-size-large);
    }

    .blog__postTimestamp {
        font-size: var(--font-size-small);
    }

    .blog__postTimestampValue {
        margin-inline-start: 0.2rem;
    }
</style>
