---
import Layout from '../../layouts/Layout.astro';
import Outline from '../../components/Outline.astro';
---

<Layout title="til | mcgostisha.com">
    <div class="til grid">
        <h1 class="grid-column-container"><Outline>T</Outline>oday <Outline>I</Outline> <Outline>L</Outline>earned</h1>
        <p class="grid-column-container">coming soon!</p>
    </div>
</Layout>
