:root {
    /* Colors*/
    --site-main-background: #eee;
    --site-main-text: #313131;
    --site-interactive: navy;
    --component-background: #ddd;

    /* Font Family*/
    --font-family-sans: Oxygen, sans-serif;
    --font-family-sans-light: OxygenLight, sans-serif;
    --font-family-sans-bold: OxygenBold, sans-serif;

    /* Font Sizes */
    --font-size-h1: 42px;
    --font-size-h2: 32px;
    --font-size-h3: 28px;
    --font-size-h4: 28px;
    --font-size-h5: 28px;
    --font-size-h6: 28px;
    --font-size-main: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;

    /* Layout & Dimensions*/
    --site-top-spacer: 2rem;
    --navbar-height: 75px;
    --prose-width: 70ch;
    --site-common-spacer: 1.5rem;

    /* From Astro */
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.05rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --site-main-background: #313131;
        --site-main-text: #fff;
        --site-interactive: #fff;
        --component-background: #222;
    }
}

/*
    CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: var(--font-size-base);
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root {
    isolation: isolate;
}

/*
    Fonts
*/
@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OxygenBold';
    src: url('/fonts/Oxygen-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OxygenLight';
    src: url('/fonts/Oxygen-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*
    Typography
*/
* {
    color: var(--site-main-text);
    font-family: var(--font-family-sans);
}

a {
    font-family: var(--font-family-sans-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-sans-bold);
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3,
h4,
h5,
h6 {
    font-size: var(--font-size-h3);
}

/*
    Main Layout
*/
body, #root {
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    background: var(--site-main-background);
}

#root > main {
    padding-top: var(--navbar-height);
}

.grid {
    display: grid;
    grid-template-columns:
        [viewport-start] minmax(1rem, 1fr) [container-start] minmax(0, 1fr) [prose-start] minmax(0, var(--prose-width))
        [prose-end] minmax(0, 1fr) [container-end] minmax(1rem, 1fr) [viewport-end];
    margin-top: var(--site-top-spacer);
}

.grid-column-viewport {
    grid-column: viewport;
}

.grid-column-container {
    grid-column: container;
}

.grid-column-prose {
    grid-column: prose;
}

code {
    background-color: var(--component-background);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}