---
import Layout from '../layouts/Layout.astro';
---

<Layout title="oops | mcgostisha.com">
    <div class="grid">
        <h1 class="grid-column-container">404</h1>
        <p class="grid-column-container">my b</p>
    </div>
</Layout>