---
export interface Props {
    external?: boolean;
    to: string;
    class?: string;
}

const {external, to, ...rest } = Astro.props;
---

<a class:list={['link', rest.class]} href={to} target={external ? "_blank" : undefined} {...rest}><slot /></a>

<style>
    .link {
        color: var(--site-interactive);
    }
</style>
