---
import Layout from './Layout.astro';
import Outline from '../components/Outline.astro';
import { formatDateForHeader } from '../helpers/dates';

const { title, createdAt, updatedAt } = Astro.props.frontmatter;
const writtenOn = formatDateForHeader(createdAt);
const updatedOn = formatDateForHeader(updatedAt);
---
<Layout title={title}>
    <div class="blogpost grid">
        <h1>{title}</h1>
        <p class="blogpost__timestamp">
            <Outline>Written on</Outline>
            <span class="blogpost__date">{writtenOn}</span>
        </p>
        {updatedOn ? (
            <p class="blogpost__timestamp">
                <Outline>Updated on</Outline>
                <span class="blogpost__date">{updatedOn}</span>
            </p>
        ) : undefined}
        <div class="blogpost__container">
            <slot />
        </div>
    </div>
</Layout>
<style is:global>
    .blogpost > * {
		grid-column: prose;
	}
    .astro-code {
        padding: 1rem;
        border-radius: 4px;
        margin-block: 1rem;
    }
</style>
<style>
    .blogpost__timestamp {
        font-size: var(--font-size-small);
    }

    .blogpost__date {
        margin-inline-start: 0.2rem;
    }

    .blogpost__container {
        margin-block-start: 1.5rem;
    }
</style>