---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta content="Homepage for Marty Gostisha" name="description">
		<meta content="Marty Gostisha" property="og:title">
		<meta content="About me, Blog, TIL and more" property="og:description">
		<meta content="/images/og-image-default.png" property="og:image">
		<meta content="https://mcgostisha.com" property="og:url">
		<meta content="website" property="og:type">
		<meta content="summary_large_image" name="twitter:card">
		<meta content="@mg0stisha" name="twitter:site">
		<meta content="@mg0stisha" name="twitter:creator">
	</head>
	<body>
		<div id="root">
			<Navbar />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
